<app-tabla-puntos style="width: 25%;float: left;" [juegos]="this.listadoPuntajeAhorcado" nombreJuego='Ahorcado'></app-tabla-puntos>
<app-tabla-puntos style="width: 25%;float: left;" [juegos]="this.listadoPuntajeMayorMenor" nombreJuego='Mayor o Menor'></app-tabla-puntos>
<app-tabla-puntos style="width: 25%;float: left;" [juegos]="this.listadoPuntajePreguntado" nombreJuego='Preguntados'></app-tabla-puntos>
<app-tabla-puntos style="width: 25%;float: left;" [juegos]="this.listadoPuntajeBlackJack" nombreJuego='BlackJack'></app-tabla-puntos>