<div class="container marketing">
    <div class="row  justify-content-center">
      <div class="col-lg-4 justify-content-center">
        <div class="justify-content-center">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../../../assets/yo.gif" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
        <h2 class="text-center">Matias Moll</h2>
        <p class="text-center">Soy estudiante de la tecnicatura en programacion en la UTN facultad recgional Avellaneda</p>
        <div class="row justify-content-center">
            <button class="btn btn-primary w-50 "(click)="goToLink('https://github.com/MatiasMoll/')">Ir al Github</button>
            <button class="btn btn-success w-50 "routerLink='/home'>Volver al inicio</button>
        </div>
      </div><!-- /.col-lg-4 -->
    </div>
</div>
