.centrado{
    text-align: center!important;
    margin-right:auto;
    position:relative;
}

.inicio{
    justify-content: flex-start;
    align-items: flex-start;
}
.grey{
    background-color: #BFE0DC;
}
.lightblue{
    background-color: lightblue;
}

.tuMensaje{
    background-color: #42F704;
    margin-left: 55%;
    border-color: #42F704;
}

.borde{
    border-radius: 8px;
    border-style: solid;
    width: 45%;
    margin-bottom:1%;
}

.mitadPantalla{
    display:flex;
    width: 33%;
    margin:auto;
    display: inline-block;
   
}

.pequeño{
    font-size: 50%;
}