
<div class="container">
    <h1>{{this.espaciosPalabra}}</h1>
    
</div>

<div class="container">
    <div class="row  btn-group" role="group" aria-label="Basic example">
        <div class="col">
            <button class="btn btn-primary" (click)="revisarLetra('A')"> A </button>
        </div>
        <div class="col">
            <button class="btn btn-primary" (click)="revisarLetra('B')"> B </button>
        </div>
        <div class="col">
            <button class="btn btn-primary" (click)="revisarLetra('C')"> C </button>
        </div>
        <div class="col">
            <button class="btn btn-primary" (click)="revisarLetra('D')"> D </button>
        </div>
        <div class="col">
            <button class="btn btn-primary" (click)="revisarLetra('E')"> E </button>
        </div>
        <div class="col">
            <button class="btn btn-primary" (click)="revisarLetra('F')"> F </button>
        </div>
        <div class="col">
            <button class="btn btn-primary" (click)="revisarLetra('G')"> G </button>
        </div>
        <div class="col">
            <button class="btn btn-primary" (click)="revisarLetra('H')"> H </button>
        </div>
        <div class="col">
            <button class="btn btn-primary" (click)="revisarLetra('I')"> I </button>
        </div>
    </div>
    <div class="row  btn-group" role="group" aria-label="Basic example">
        <div class="col"><button class="btn btn-primary" (click)="revisarLetra('J')"> J </button></div>
        <div class="col"><button class="btn btn-primary" (click)="revisarLetra('K')"> K </button></div>
        <div class="col"><button class="btn btn-primary" (click)="revisarLetra('L')"> L </button></div>
        <div class="col"><button class="btn btn-primary" (click)="revisarLetra('M')"> M </button></div>
        <div class="col"><button class="btn btn-primary" (click)="revisarLetra('N')"> N </button></div>
        <div class="col"><button class="btn btn-primary" (click)="revisarLetra('Ñ')"> Ñ </button></div>
        <div class="col"><button class="btn btn-primary" (click)="revisarLetra('O')"> O </button></div>
        <div class="col"><button class="btn btn-primary" (click)="revisarLetra('P')"> P </button></div>
        <div class="col"><button class="btn btn-primary" (click)="revisarLetra('Q')"> Q </button></div>
    </div>
    <div class="row  btn-group" role="group" aria-label="Basic example">
        <div class="col"><button class="btn btn-primary" (click)="revisarLetra('R')"> R </button></div>
        <div class="col"><button class="btn btn-primary" (click)="revisarLetra('S')"> S </button></div>
        <div class="col"><button class="btn btn-primary" (click)="revisarLetra('T')"> T </button></div>
        <div class="col"><button class="btn btn-primary" (click)="revisarLetra('U')"> U </button></div>
        <div class="col"><button class="btn btn-primary" (click)="revisarLetra('V')"> V </button></div>
        <div class="col"><button class="btn btn-primary" (click)="revisarLetra('W')"> W </button></div>
        <div class="col"><button class="btn btn-primary" (click)="revisarLetra('X')"> X </button></div>
        <div class="col"><button class="btn btn-primary" (click)="revisarLetra('Y')"> Y </button></div>
        <div class="col"><button class="btn btn-primary" (click)="revisarLetra('Z')"> Z </button></div>
    </div>
</div>

